* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#hero-header {
    display: flex;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
#intro-section {
    margin-top: 50px;
}
#hero-heading {
    font-size:60px;
    color: white;
    font-weight:bold;
    font-family:"Abril Fatface";
    margin-top: 4em;
    opacity: 1;
}
#hero-page {
    position: relative;
    left: 40px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    margin: 5px 0px;
}
#button {
    margin-top: 50px;
    width: 20%;
    padding: 20px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: 800px;
}
#button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
@media screen and (min-width:575px) and (max-width:991px) {
    #hero-heading {
     font-size: 40px;
    }
    #hero-page {
        font-size:25px;
    }
     #button {
        margin-top: 50px;
        width: 20%;
        padding: 20px;
        border: 3px solid white;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        font-size: 15px;
    } 
}
@media  screen  and (max-width:813px) {
    #hero-heading {
        font-size: 33px;
    }
    #hero-page {
        font-size:20px;
    }
    #button
    {
        width: 30%;
        margin-top: 10px;
    }
}
@media  screen and (min-width:461px) and (max-width:541px) {
    #hero-heading {
        font-size: 30px;
    }
    #hero-page {
        font-size:18px;
        width: 90%;
        position: relative;
        left: 20PX;
    }
    #button {
        width: 80%;
        position: absolute;
        bottom: 40px;
    }
}
@media screen and (max-width:461px){
    #hero-heading {
        font-size: 25px;
    }
    #hero-page {
        font-size:18px;
        position: relative;
        left: 5PX;
        text-align: center;
    }
    #button {
        width: 80%;
        position: absolute;
        bottom: 40px;
    }
}